import React, { memo } from 'react'
import {Button} from "antd"
import {AppWrap} from "./style"
import "./assets/css/main.css"
import "antd/dist/antd.less";

export default memo(function App() {
  return (
    <AppWrap>
      <Button type="primary" shape="round">AntDesignButton</Button>
    </AppWrap>
  )
})